################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dustin GUI.py
/Shane GUI.py
/.vs/Advanced-Launcher/FileContentIndex
/Advanced Launcher
